.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 2px 1px 6px 5px rgba(0,0,0,0.18);
    background-color: var(--bbb-primary);

    .footer-header {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 1rem;
        padding-bottom: 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0rem 2rem;
        padding-bottom: 2rem;

        h4 {
            font-size: var(--bbb-font-l);
            margin: 2rem 0rem 0.5rem 0rem;
        }
        
        a {
            text-decoration: none;
            color: black;
            font-weight: 500;
            padding-bottom: 0.5rem;
            p {
                margin: 0;
                
            }
        }

        button {
            background-color: black;
            border-radius: 0.5rem;
            color: var(--bbb-secondary);
            font-family: var(--bbb-text);
            padding: 0.5rem 1.5rem;
            font-weight: 600;
            border: none;
            font-size: var(--bbb-font-med);
        }
        
        .footer-phone-number {
            font-weight: 600;
        }
    }
}