.footer {
    background-color: var(--bbb-secondary-darker);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 2px 1px 6px 5px rgba(0,0,0,0.18);
    background-color: var(--bbb-primary);

    .footer-header {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 1rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 1rem;
        
        
    }
}