.header {
    padding: 0rem 1rem;
    background-color: var(--bbb-secondary);
    border-bottom: 10px solid var(--bbb-primary);
    box-shadow: 2px 1px 6px 5px rgba(0,0,0,0.18);
    display: flex;
    justify-content: space-between;
    text-align: center;   
    align-items: center;
    height: 10vh;

    .header-leftside {
        display: flex;
        gap: 0.5rem;
    }

    .header-rightside {
        font-size: var(--bbb-font-l);
        padding-right: 0.5rem;
    }
}