.header {
    background-color: var(--bbb-secondary);
    border-bottom: 10px solid var(--bbb-primary);
    box-shadow: 2px 1px 6px 5px rgba(0,0,0,0.18);
    display: flex;
    justify-content: space-between;
    text-align: center;   
    align-items: center;
    height: 10vh;
    position: fixed;
    width: 100%;

    .header-leftside {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-left: 1rem;
    }

    .header-rightside {
        font-size: var(--bbb-font-l);
        margin-right: 1.5rem;
        
        i {
            color: black;
        }

        .panel-button {
            margin-right: 1rem;
            background-color: var(--bbb-primary);
            padding: 0.5rem;
            border-radius: 0.5rem;
            
        }
    }
}

.hidden {
    display: none;
}

.burger-blur {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    backdrop-filter: blur(4px);
    z-index: 2;
    filter: brightness(50%);
}